.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 50px 80px 80px 50px;
}

body {
  background-color: #e8fdf5;
  color: #052d3f;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .header,
  .about,
  .news,
  .resume {
    padding: 50px 250px 60px 250px;
  }
}
